<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="../static/boostrap.min.css" rel="stylesheet" />
    <link href="../static/intro.css" rel="stylesheet" />
    <link href="../static/transitions.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/intro.js"></script>
</head>
<body>

    <div class="transition transition-2 is-active"></div>

    <p class="glitch">
        <span aria-hidden="true">Escape From Alcatraz</span>
        Escape From Alcatraz
        <span aria-hidden="true">Escape From Alcatraz</span></p>
    <a href="{{ url_for('index') }}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Continue
    </a>
</body>
</html>